server:
  port: 8181

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/crawler?zeroDateTimeBehavior=CONVERT_TO_NULL&characterEncoding=UTF-8&serverTimezone=JST
    username: crawler
    password: crawler_pass
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
        search:
          lucene_version: LUCENE_CURRENT
          default:
            directory_provider: filesystem
            indexBase: ./index

logging:
  level:
    org.hibernate: 
      SQL: debug
      type:
        EnumType: trace
        descriptor.sql.BasicBinder: trace

crawler-api:
  jjwt:
    expiration: 28800
