spring:
  datasource:
    url: jdbc:mysql://localhost:3306/crawler?zeroDateTimeBehavior=CONVERT_TO_NULL&characterEncoding=UTF-8&serverTimezone=JST
    username: crawler
    password: crawler_pass
    driver-class-name: com.mysql.cj.jdbc.Driver

springbootwebfluxjjwt:
  password:
    encoder:
      secret: mysecret
      iteration: 33
      keylength: 256
  jjwt: 
    secret: ThisIsSecretForJWTHS512SignatureAlgorithmThatMUSTHave512bitsKeySize
    expiration: 28800
